.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.off-red {
    border-color: #ff0000;
    background-color: #ffffff;
    color: #444;
}
.off-lightred {
    border-color: #ffaaaa;
    background-color: #ffffff;
    color: #444;
}
.off-white {
    border-color: #f5f5f5;
    background-color: #ffffff;
    color: #444;
}
.off-lightgreen {
    border-color: #ccffcc;
    background-color: #ffffff;
    color: #444;
}
.off-green {
    border-color: #00ff00;
    background-color: #ffffff;
    color: #444;
}

.on-red {
    background-color: #ff0000;
    color: #444;
}
.on-lightred {
    background-color: #ffaaaa;
    color: #444;
}
.on-white {
    background-color: #f5f5f5;
    color: #444;
}
.on-lightgreen {
    background-color: #ccffcc;
    color: #444;
}
.on-green {
    background-color: #00ff00;
    color: #444;
}


.off-0 {
    border-color: #fafafa;
    background-color: #ffffff;
    color: #444;
}
.off-1 {
    border-color: #dddddd;
    background-color: #ffffff;
    color: #444;
}
.off-2 {
    border-color: #cccccc;
    background-color: #ffffff;
    color: #444;
}
.off-3 {
    border-color: #bbbbbb;
    background-color: #ffffff;
    color: #444;
}
.off-4 {
    border-color: #aaaaaa;
    background-color: #ffffff;
    color: #444;
}

.on-0 {
    background-color: #fafafa;
    color: #444;
}

.on-1 {
    background-color: #dddddd;
    color: #444;
}

.on-2 {
    background-color: #cccccc;
    color: #444;
}

.on-3 {
    background-color: #bbbbbb;
    color: #444;
}

.on-4 {
    background-color: #aaaaaa;
    color: #444;
}

.size-20 {
    width: 20%;
    margin: 0px 0px 0px 0px;
    /*border-radius: 0;*/
    /*padding: 0px 0px 0px 0px;*/
}

.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.td-weight-0 {
    background-color: #fafafa;
}

.td-weight-1 {
    background-color: #f5f5f5;
}

.td-weight-2 {
    background-color: #dddddd;
}

.td-weight-3 {
    background-color: #bbbbbb;
}

.td-weight-4 {
    background-color: #aaaaaa;
}


.td-delta-red {
    background-color: #ff0000;
}

.td-delta-lightred {
    background-color: #ffaaaa;
}

.td-delta-white {
    background-color: #dddddd;
}

.td-delta-lightgreen {
    background-color: #ccffcc;
}

.td-delta-green {
    background-color: #00ff00;
}

